<div class="row">
	<div class="btn-group" id="social_buttons">
		<div style="padding:5px 10px;">
			<b>Síguenos en: </b>
		</div>

		<div style="font-size:23px;">
		  <a class="btn btn-default" href="https://www.facebook.com/periodicoeldiario" >
			<span class="fa fa-facebook"></span>
		  </a>
		  <a class="btn btn-default" href="https://twitter.com/eldiarioboyaca">
			<span class="fa fa-twitter"></span>
		  </a>
		  <a class="btn btn-default" href="https://plus.google.com/115531395616996043693/posts">
			<span class="fa fa-google-plus"></span>
		  </a>
		  <a class="btn btn-default" href="http://www.youtube.com/channel/UCC8r9OquHiDaI2IydAYqOZw?feature=watch">
			<span class="fa fa-youtube-play"></span>
		  </a>
		  <a class="btn btn-default" href="https://pinterest.com/ElDiarioBoyaca/">
			<span class="fa fa-pinterest"></span>
		  </a>
		  <a class="btn btn-default" href="https://www.linkedin.com/reg/join?session_redirect=http%3A%2F%2Fwww.linkedin.com%2FpostLogin%3Fsession_rikey%3DoZtL5JSaGZ4Zom0IZAdGh4L-ZpzcKH01Pf-zI53EI6y-AyXFbCOx-AqYnubdoToNl8mhoOblcXwAlpo-AC70-5ddI3Pxomkv8Ar%26l%3Dhttp%253A%252F%252Fwww%252Elinkedin%252Ecom%252Fsearch%26id%3D0%26b%3D315bbd1e-5163-4b92-8878-bcb96237ffd2%26h%3D5AaA%26m%3DGET">
			<span class="fa fa-linkedin"></span>
		  </a>
		  <a class="btn btn-default" href="https://soundcloud.com/periodicoeldiario">
			<span class="fa fa-soundcloud"></span>
		  </a>
		</div>
	</div>
</div>