{% load i18n %}

<div id="session_security_warning" class="session_security" style="display:none">
    <div class="session_security_overlay" style="z-index:100"></div>
    <div class="modal-dialog" style="z-index:200">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title">La sesión está a punto de expirar</h4>
	      </div>
	      <div class="modal-body">
	        Haz click o mueve tu mouse para mantenerla abierta.
	      </div>
	    </div>
  </div>
</div>

