<meta name="description" content=" Noticias e información de los municipios de Boyacá. Todo el contenido y el análisis de la información más importante del departmanto. Opinión, política, cultura, turismo, nación, economía, salud, videos, multimedias, informes especiales y más, todo acerca de Boyacá." />

<meta name="keywords" content="diario,boyacá, noticias tunja, periodico tunja, opinión, política, cultura, turismo, nación, economía, salud, videos, multimedias, informes especiales, sogamoso, duitama, chiquinquirá, periodismo boyacá">

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="EL DIARIO Boyacá - Sitio Web">
<meta itemprop="description" content="Noticias e información de los municipios de Boyacá. Todo el contenido y el análisis de la información más importante del departamento.">
<meta itemprop="image" content="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/734113_389386964485689_331498768_n.jpg?oh=7b1681d9ec11c3ce2d0706969d3ed739&oe=54E8BD81&__gda__=1424224568_d66d0f7c36401733f4cc8f8bc18394b1">



<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@ELDIARIOBOYACA">
<meta name="twitter:title" content="EL DIARIO BOYACÁ">
<meta name="twitter:description" content="Información, análisis y actualidad. Noticias de Boyacá. Periódico de opinión">
<meta name="twitter:creator" content="@ELDIARIOBOYACA">
<!-- Twitter summary card with large image must be at least 280x150px -->
<meta name="twitter:image:src" content="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/734113_389386964485689_331498768_n.jpg?oh=7b1681d9ec11c3ce2d0706969d3ed739&oe=54E8BD81&__gda__=1424224568_d66d0f7c36401733f4cc8f8bc18394b1">

<!-- Open Graph data -->
<meta property="og:title" content="EL DIARIO BOYACÁ" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://www.periodicoeldiario.com/" />
<meta property="og:image" content="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/734113_389386964485689_331498768_n.jpg?oh=7b1681d9ec11c3ce2d0706969d3ed739&oe=54E8BD81&__gda__=1424224568_d66d0f7c36401733f4cc8f8bc18394b1" />
<meta property="og:description" content="Noticias e información de los municipios de Boyacá. Todo el contenido y el análisis de la información más importante del departamento." />
<meta property="og:site_name" content="EL DIARIO Boyacá - Sitio Web" />
