{% load static %}
<!DOCTYPE html>
<html lang="en"><head>
  <meta charset="utf-8">
  <title>Periódico El Diario - Sitio Móvil</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="Sitio web de El Diario para móviles">
  <!-- Styles -->
  <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "mobile/css/main.css" %}">
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52f06b8440ed79f8"></script>
  
  <style type="text/css">
    html, body{ padding: 0; margin:0; height:100%; width: 100%;}
    body{margin-top: 50px;}
  </style>

</head>

<body>

    <nav>
        <ul class="list-unstyled main-menu">
          
          <!--Include your navigation here-->

          <li class="text-right">
            <div class="row">
              <div class="col-xs-10">
                <form action="/m/buscar/" method="GET">
                  <div class="input-group">
                    <input name="keyword" type="text" class="form-control" placeholder="Buscar">
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-default" type="button">
                          <span class="glyphicon glyphicon-search"></span>
                      </button>
                    </span>
                  </div>
                </form>
              </div>
              <div class="col-xs-1">
                <a href="#" id="nav-close"><span class="glyphicon glyphicon-remove"></span></a>
              </div>
            </div>
            
            
          </li>
          
          {% for cat in categories %}
            <li>
              <a href="/categorias/{{cat.slug}}/">{{cat.title}}</a>
              {% if cat.parent_cat.all%}
                <ul class="list-unstyled">
                {% for subcat in cat.parent_cat.all%}
                  <li class="sub-nav"><a href="/categorias/{{subcat.slug}}/">{{subcat.title}} </a></li>
                {% endfor %}
                </ul>
              {% endif %}
            </li>         
          {% endfor %}
        </ul>
      </nav>
          
    <div class="navbar navbar-fixed-top">      
        <!--Include your brand here-->
        <a class="navbar-brand" href="/">
          <img src="{% static "images/logo.png" %}" style="max-height:100%;">
        </a>
        <div class="navbar-header pull-right">
          <a id="nav-expander" class="nav-expander fixed">
            <i class="glyphicon glyphicon-th-list white"></i>
          </a>
        </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->

    <div class="container news_list">
      <!-- Example row of columns -->
      <div class="row">
        
        <div class="col-lg-12">
          <h2>
            <b><a href="/articulos/{{main_art.slug}}/">{{article.title}}</a></b>
          </h2>
          <p>
            <small class="cat_label">
              <a href="/categorias/{% if article.category %}{{article.category.slug}}{% else %}general{% endif %}/">
                {% if article.category %}{{article.category.title}}{% else %} General {% endif %}
              </a>
            </small>
            <small class="art_date">{{ article.creation_date|date:"d \d\e F \d\e\l Y" }}</small>
          </p>
          <hr>
          {{ article.abstract|safe }}
          {{ article.content|safe }}
          <hr>
          <div>
            <div class="col-xs-12">
              <h5><b>Compartir artículo en: </b></h5>
              <div class="addthis_sharing_toolbox"></div>
            </div>
            <div class="col-xs-12" >
              <h5><b>Artículos relacionados:</b></h5>
              <ul class="art-related">
                {% for relA in article.related_articles.all %}
                <li><a href="/articulos/{{relA.slug}}/">{{relA.title}}</a></li>
                {% empty %}
                  {% for relB in article.related.all%}
                  <li><a href="/articulos/{{relB.slug}}/">{{relB.title}}</a></li>
                  {% empty %}
                  No se encontraron artículos
                  {% endfor %}
                {% endfor %}
              </ul>
            </div>
          </div> 
        </div>
      </div>
    </div> <!-- /container -->
    <footer>
      <p>
        &copy; EL DIARIO - 2014 
        <small style="margin-left:15px;">Sitio desarrollado por: </small>
        <img src="{% static "images/logo-hanabi.png" %}" style="max-height:25px;margin:-5px 0 0 10px">
      </p>
    </footer>
    
    <!-- Javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "mobile/js/jquery.navgoco.js" %}"></script>
    <script src="{% static "mobile/js/main.js" %}"></script>
    
    <script>
    $(document).ready(function(){												
       
       //Navigation Menu Slider
        $('#nav-expander').on('click',function(e){
      		e.preventDefault();
      		$('body').toggleClass('nav-expanded');
      	});
      	$('#nav-close').on('click',function(e){
      		e.preventDefault();
      		$('body').removeClass('nav-expanded');
      	});
      	
      	
      	// Initialize navgoco with default options
        $(".main-menu").navgoco({
            caret: '<span class="caret"></span>',
            accordion: false,
            openClass: 'open',
            save: true,
            cookie: {
                name: 'navgoco',
                expires: false,
                path: '/'
            },
            slide: {
                duration: 300,
                easing: 'swing'
            }
        });
  
        	
      });
      </script>


   
    </body>
</html>