{% load static %}
<!DOCTYPE html>
<html lang="en"><head>
  <meta charset="utf-8">
  <title>Periódico El Diario - Sitio Móvil</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="Sitio web de El Diario para móviles">
  <!-- Styles -->
  <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "mobile/css/main.css" %}">
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>

</head>

<body>

    <nav>
        <ul class="list-unstyled main-menu">
          
          <!--Include your navigation here-->

          <li class="text-right">
            <div class="row">
              <div class="col-xs-10">
                <form action="/buscar/" method="GET">
                  <div class="input-group">
                    <input name="keyword" type="text" class="form-control" placeholder="Buscar">
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-default" type="button">
                          <span class="glyphicon glyphicon-search"></span>
                      </button>
                    </span>
                  </div>
                </form>
              </div>
              <div class="col-xs-1">
                <a href="#" id="nav-close"><span class="glyphicon glyphicon-remove"></span></a>
              </div>
            </div>
            
            
          </li>
          
          {% for cat in categories %}
            <li>
              <a href="/categorias/{{cat.slug}}">{{cat.title}}</a>
              {% if cat.parent_cat.all%}
                <ul class="list-unstyled">
                {% for subcat in cat.parent_cat.all%}
                  <li class="sub-nav"><a href="/categorias/{{subcat.slug}}">{{subcat.title}} </a></li>
                {% endfor %}
                </ul>
              {% endif %}
            </li>         
          {% endfor %}
        </ul>
      </nav>
          
    <div class="navbar navbar-fixed-top">      
        <!--Include your brand here-->
        <a class="navbar-brand" href="/">
          <img src="{% static "images/logo.png" %}" style="max-height:100%;">
        </a>
        <div class="navbar-header pull-right">
          <a id="nav-expander" class="nav-expander fixed">
            <i class="glyphicon glyphicon-th-list white"></i>
          </a>
        </div>
    </div>

    <div class="container news_list" style="margin-top:50px;">
      

      <!-- Example row of columns -->
      <div class="cat-tab">
        <h4>
          <span>CATEGORÍAS</span>
        </h4>
        {{categories.count}} encontradas
      </div>
      
      <div class="row">
        {% for cat in categories %}
        <div class="col-xs-12" style="border-bottom:1px solid #ddd;">
          <div class="col-xs-3">
            <h3>{{cat.article_set.count}} <small>artículos</small></h3>
            <small class="cat_date">{{ cat.creation_date|date:"d/Y" }}</small>
          </div>
          <div class="col-xs-9" style="border-left:1px solid #ddd;">
            <h3>
              <b><a href="/categorias/{{cat.slug}}">{{cat.title}}</a></b>
            </h3>
            {{ cat.description|safe }}
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="cat-tab">
        <h4>
          <span>ARTÍCULOS</span>
        </h4>
        {{articles.count}} encontrados
      </div>

      <div class="row">
        {% for art in articles %}
        <div class="col-lg-12">
          <h3>
            <b><a href="/articulos/{{art.slug}}">{{art.title}}</a></b>
          </h3>
          <p>
            <small class="cat_label">
              <a href="/categorias/{% if art.category %}{{art.category.slug}}{% else %}general{% endif %}">
                {% if art.category %}{{art.category.title}}{% else %} General {% endif %}
              </a>
            </small>
            <small class="art_date">{{ art.creation_date|date:"d \d\e F \d\e\l Y" }}</small>
          </p>
          {{ art.abstract|safe }}
          <hr>
        </div>
        {% endfor %}
      </div>
    </div> <!-- /container -->
    <footer>
      <p>
        &copy; EL DIARIO - 2014 
        <small style="margin-left:15px;">Sitio desarrollado por: </small>
        <img src="{% static "images/logo-hanabi.png" %}" style="max-height:25px;margin:-5px 0 0 10px">
      </p>
    </footer>
    
    <!-- Javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "mobile/js/jquery.navgoco.js" %}"></script>
    <script src="{% static "mobile/js/main.js" %}"></script>
    
    <script>
    $(document).ready(function(){												
       
       //Navigation Menu Slider
        $('#nav-expander').on('click',function(e){
      		e.preventDefault();
      		$('body').toggleClass('nav-expanded');
      	});
      	$('#nav-close').on('click',function(e){
      		e.preventDefault();
      		$('body').removeClass('nav-expanded');
      	});
      	
      	
      	// Initialize navgoco with default options
        $(".main-menu").navgoco({
            caret: '<span class="caret"></span>',
            accordion: false,
            openClass: 'open',
            save: true,
            cookie: {
                name: 'navgoco',
                expires: false,
                path: '/'
            },
            slide: {
                duration: 300,
                easing: 'swing'
            }
        });
  
        	
      });
      </script>


   
    </body>
</html>