{% extends "base.html" %}
{% load static %}
{% load url from future %}
{% block title %} {% if editing %} Editando la suscripción: {{title}} {% else %} Nueva suscripción {% endif %} {% endblock %}

{% block extrastyle %}
		<link rel="stylesheet" href="{% static "css/chosen.min.css"%}"></link>
{% endblock %}

{% block extrahead %}
	<script src="{% static "js/chosen.jquery.min.js"%}"></script>
	<script src="{% static "js/chosen.jquery.min.js"%}"></script>
{% endblock %}

{% block breadcrumbs %}
	<ul class="breadcrumb">
		<li><a href="/backend"><i class="fa fa-home"></i> Inicio</a></li>
		<li><a href="/backend/suscripciones"><i class="fa fa-bullhorn"></i> Suscripciones</a></li>
		<li>
			<i class="{% if editing %}fa fa-edit {% else %}fa fa-plus {% endif %}"></i>
			{% if editing %} Editar Suscripción ({{title}}) {% else %} Nueva Suscripción {% endif %}
		</li>
	</ul>
{% endblock %}

{% block mainbody %}
	<div id="content-main">
		<div class="row">
			<div class="col-xs-12 col-sm-10 col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
				    	<h2 class="panel-title">
				    		{% if editing %} <span class="fa fa-edit"></span> Editar Suscripción ({{title}})
				    		{% else %} <span class="fa fa-plus"></span> Nueva Suscripción  {% endif %}

				    	</h2>
				  	</div>
				  	<div class="panel-body">
				  		<div class="row">
				  			<div class="col-md-1"></div>
				  			<div class="col-xs-12 col-md-10">

									<div class="susc-tab">
										<span>DEPARTAMENTO</span> Últimas Noticias
									</div>

				  				<form role="form" action="." method="POST" enctype="multipart/form-data">
									{% csrf_token %}

									<input type="hidden" name="user_id" value="{{user}}" />

									{% for field in form %}
										{% if field.name == "embed_code"%}
										<div class="form-group {% if field.errors %} has-error{% endif %}" style="display:none;">
										{% else %}
										<div class="form-group {% if field.errors %} has-error{% endif %}">
										{% endif %}
											{% if not form.this_is_the_login_form.errors %}
											<label class="control-label required" for="{{field.field.id}}">
												{{field.label}}:
											</label>
											{% endif %}

											{% if field.errors %}
												<span class="help-inline text-danger">
													{{field.errors}}
												</span>
											{% endif %}

											<div class="input-group">
												<span class="input-group-addon">
													<span class="glyphicon glyphicon-asterisk"></span>
												</span>
												{{ field }}
											</div>




										</div>
									{% endfor %}

									<br><br>
									<div class="form-group" style="text-align:right;">
										<a href="{% if editing %}../../{% else %}../{% endif %}" class="btn btn-danger">
											Cancelar
										</a>
										<button type="submit" class="btn btn-success">
											{% if editing %} Guardar cambios
				    						{% else %} Crear Suscripción {% endif %}
				    					</button>
									</div>
								</form>
				  			</div>
				  		</div>
				  	</div>
				</div>
			</div>
		</div>
	</div>

	<style type="text/css">
		#id_ad_type li{
			list-style: none; display: inline-block; margin-right: 20px;
		}

		#id_ad_type li label{
			line-height: 42px;
		}

		#id_ad_type li .form-control{
			display: inline; margin-right: 5px; width: auto;
		}
	</style>

	<script type="text/javascript">
		$(document).ready(function(){
			$("#id_ad_type li:first").detach()

			{% if not editing %}
			$("#id_ad_type :radio:first").attr("checked", "checked");
			{% endif %}
			//alert($("input[name=ad_type][value=1]").("color"))
			$("#id_ad_type").siblings(".input-group-addon").detach()

			$("#id_ad_type :radio").change(function(){
				if($(this).val()==3){
					$("#id_pkg_file").parents(".form-group").fadeOut(function(){
						$("#id_embed_code").parents(".form-group").slideDown();
					});

				}else{
					$("#id_embed_code").parents(".form-group").slideUp(function(){
						$("#id_pkg_file").parents(".form-group").fadeIn();
					});
				}
			})


		});
	</script>
{% endblock %}
