<div class="col-xs-12 misc">
	{% for article in misc_news %}
		{% if forloop.counter|divisibleby:2 %}
		<div class="col-xs-5 misc-right">
			<div class="row-fluid">
				<small class="section_name"><span>{{article.category.title}}</span> {{article.creation_date}}</small>
				<h3 class="text-left">
					<b><a href="/articulos/{{article.slug}}">{{article.title}}</a></b>
				</h3>
				<hr>
				{{ article.abstract|safe }}
			</div>
		</div>
		{% else %}
		<div class="col-xs-7 misc-left">
				<small class="section_name">
					<span>{{article.category.title}}</span> 
					{{article.creation_date}}
				</small>
				<h3 class="text-left">
					<b><a href="/articulos/{{article.slug}}">{{article.title}}</a></b>
				</h3>
				<hr>
				{{ article.abstract|safe }}
		</div>
		{% endif %}
	{% endfor %}
</div>