{% extends "base.html" %}
{% load static %}
{% load url from future %}

{% block extrahead %}
	<script>
		(function(w,d,s,g,js,fs){
		  g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}};
		  js=d.createElement(s);fs=d.getElementsByTagName(s)[0];
		  js.src='https://apis.google.com/js/platform.js';
		  fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};
		}(window,document,'script'));
	</script>
{% endblock %}

{% block breadcrumbs %}
	<ul class="breadcrumb">
		<li class="active"><i class="fa fa-home"></i> Inicio</li>
	</ul>
{% endblock %}

{% block mainbody %}
	<div id="content-main">
		<div class="row">
			<div class="col-xs-12 col-sm-10 col-md-9">
				<!--Analytics Panel-->
				<div class="panel-group" id="analytics">
				  <div class="panel panel-default">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#analytics" href="#collapseOne">
				          <span class="glyphicon glyphicon-stats"></span>
				          Estadísticas de visitantes (Google Analytics)
				        </a>
				      </h4>
				    </div>
				    <div id="collapseOne" class="panel-collapse collapse">
				      <div class="panel-body">

							<div class="row-fluid hidden-phone">
								<div id="embed-api-auth-container">
									
								</div>
								<div id="chart-container">
									
								</div>
								<div id="view-selector-container">
									
								</div>
							</div>
				      </div>
				    </div>
				  </div>
				</div>

				<!--Apps panel-->
				<div class="panel-group" id="apps">
				  <div class="panel panel-default">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#apps" href="#collapseTwo">
				          <span class="glyphicon glyphicon-th-large"></span>
				          Aplicaciones
				        </a>
				      </h4>
				    </div>
				    <div id="collapseTwo" class="panel-collapse collapse in">
				      <div class="panel-body">
				        <!--div class="app_link col-xs-5 col-sm-3 col-md-2">
							<a href="pagina_principal" class="section app_link_content">
								<span class="fa fa-star"></span>
								<b>Página principal</b>
							</a>
						</div-->
						<div class="app_link col-xs-5 col-sm-3 col-md-2">
							<a href="contenido/categorias" class="section app_link_content">
								<span class="fa fa-inbox"></span>
								<b>Categorías</b>
							</a>
						</div>
						<div class="app_link col-xs-5 col-sm-3 col-md-2">
							<a href="contenido/articulos" class="section app_link_content">
								<span class="glyphicon glyphicon-leaf"></span>
								<b>Artículos</b>
							</a>
						</div>
						<div class="app_link col-xs-5 col-sm-3 col-md-2">
							<a href="fotogalerias" class="section app_link_content">
								<span class="fa fa-camera"></span>
								<b>Fotogalerías</b>
							</a>
						</div>
						<div class="app_link col-xs-5 col-sm-3 col-md-2">
							<a href="vive_boyaca" class="section app_link_content">
								<span class="fa fa-road"></span>
								<b>Vive Boyacá</b>
							</a>
						</div>
						<div class="app_link col-xs-5 col-sm-3 col-md-2">
							<a href="publicidad" class="section app_link_content">
								<span class="fa fa-bullhorn"></span>
								<b>Publicidad</b>
							</a>
						</div>
						<div class="app_link col-xs-5 col-sm-3 col-md-2">
							<a href="acceso" class="section app_link_content">
								<span class="fa fa-lock"></span>
								<b>Acesso</b>
							</a>
						</div>
						<div class="app_link col-xs-5 col-sm-3 col-md-2">
							<a href="encuestas" class="section app_link_content">
								<span class="fa fa-tasks"></span>
								<b>Encuestas</b>
							</a>
						</div>
						<div class="app_link col-xs-5 col-sm-3 col-md-2">
							<a href="suscripciones" class="section app_link_content">
								<span class="fa fa-send"></span>
								<b>Suscripciones</b>
							</a>
						</div>
						<div class="app_link col-xs-5 col-sm-3 col-md-2">
							<a href="configuracion" class="section app_link_content">
								<span class="fa fa-gears"></span>
								<b>Configuración</b>
							</a>
						</div>
						<!--div class="app_link col-xs-5 col-sm-3 col-md-2">
							<a href="plugins" class="section app_link_content">
								<span class="fa fa-sliders"></span>
								<b>Plugins</b>
							</a>
						</div-->
				      </div>
				    </div>
				  </div>
				</div>
		  	</div>

		  	<div class="col-xs-12 col-sm-2 col-md-3">
				<div class="well well-open">
					<h3 class="filter-title">Acciones recientes</h3>
					<ul class="nav nav-list">

						{% if not admin_log %}
							<li>
								<p class="tip">No se han registrado acciones</p>
							</li>
						{% else %}
							{% for entry in admin_log %}
							<li>
								{% if not entry.is_deletion and entry.get_admin_url %}
								<a class="log-link" href="{{ entry.get_admin_url }}">
								{% endif %}
									<i class="glyphicon glyphicon-{% if entry.is_addition %}plus{% elif entry.is_change %}edit{% elif entry.is_deletion %}remove{% endif %}"></i>

									{{ entry.object_repr }}

								{% if not entry.is_deletion and entry.get_admin_url %}
								</a>
								{% endif %}

								{% if entry.content_type %}
								<span class="mini quiet">
									{% filter capfirst %}entry.content_type.name{% endfilter %}
								</span>
								{% else %}
								<span class="mini quiet">Unknown content</span>
								{% endif %}
								<span class="mini">{{entry.action_time|date:"d N, H:i"}}</span>
							</li>
							{% endfor %}
						{% endif %}
					</ul>
				</div>
		  	</div>
		</div>
	</div>
	<script>
		gapi.analytics.ready(function() {

		  /**
		   * Authorize the user immediately if the user has already granted access.
		   * If no access has been created, render an authorize button inside the
		   * element with the ID "embed-api-auth-container".
		   */
		  gapi.analytics.auth.authorize({
		    container: 'embed-api-auth-container',
		    clientid: '86155580',
		  });


		  /**
		   * Create a new ViewSelector instance to be rendered inside of an
		   * element with the id "view-selector-container".
		   */
		  var viewSelector = new gapi.analytics.ViewSelector({
		    container: 'view-selector-container'
		  });

		  // Render the view selector to the page.
		  viewSelector.execute();


		  /**
		   * Create a new DataChart instance with the given query parameters
		   * and Google chart options. It will be rendered inside an element
		   * with the id "chart-container".
		   */
		  var dataChart = new gapi.analytics.googleCharts.DataChart({
		    query: {
		      metrics: 'ga:sessions',
		      dimensions: 'ga:date',
		      'start-date': '2014-06-01',
		      'end-date': 'yesterday'
		    },
		    chart: {
		      container: 'chart-container',
		      type: 'LINE',
		      options: {
		        width: '100%'
		      }
		    }
		  });


		  /**
		   * Render the dataChart on the page whenever a new view is selected.
		   */
		  viewSelector.on('change', function(ids) {
		    dataChart.set({query: {ids: ids}}).execute();
		  });

		});
	</script>
{% endblock %}
