{% extends "base.html" %}
{% load static %}
{% load url from future %}

{% block extrahead %}
	<script src='{% static "js/oocharts.min.js" %}'></script>
	<script src="https://www.google.com/jsapi"></script>
	<script>

        window.onload = function(){

            oo.setAPIKey("cf691005659d07762ba947e6368d45138336d0ac");

            oo.load(function(){

                var timeline = new oo.Timeline("86155580", "7d");

                timeline.addMetric("ga:visits", "Visitantes");

                timeline.addMetric("ga:newVisits", "Nuevos visitantes");

                timeline.draw('chart');

            });
        };

	</script>
{% endblock %}

{% block breadcrumbs %}
	<ul class="breadcrumb">
		<li class="active"><i class="fa fa-home"></i> Inicio</li>
	</ul>
{% endblock %}

{% block mainbody %}
	<div id="content-main">
		<div class="row">
			<div class="col-xs-12 col-sm-10 col-md-9">
				<!--Analytics Panel-->
				<div class="panel-group" id="analytics">
				  <div class="panel panel-default">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#analytics" href="#collapseOne">
				          <span class="glyphicon glyphicon-stats"></span>
				          Estadísticas de visitantes (Google Analytics)
				        </a>
				      </h4>
				    </div>
				    <div id="collapseOne" class="panel-collapse collapse">
				      <div class="panel-body">

							<div class="row-fluid hidden-phone">
								<div id='chart'></div>
							</div>
							{%comment%}
							<div class="row-fluid grey-degrade analytics-sum-wrapper add-bottom hidden-phone">
								<div class="span2 analytics-sum"><strong>{% trans 'Total visits' %}:</strong><br/>{{ga_data.summed.visits}}</div>
								<div class="span2 analytics-sum"><strong>{% trans 'Visitors' %}:</strong><br/>{{ga_data.summed.visitors}}</div>
								<div class="span2 analytics-sum"><strong>{% trans 'Pageviews' %}:</strong><br/>{{ga_data.summed.pageviews}}</div>
								<div class="span2 analytics-sum"><strong>{% trans 'Avg. visit time' %}:</strong><br/>{{ga_data.summed.avg_time}}</div>
								<div class="span2 analytics-sum"><strong>{% trans 'Bounce rate' %}:</strong><br/>{{ga_data.summed.bounce_rate}}%</div>
								<div class="span2 analytics-sum"><strong>{% trans 'New visits' %}:</strong><br/>{{ga_data.summed.new_visits}}%</div>
							</div>
							{% else %}
							<div class="row-fluid hidden-phone">
								<div class="span12 alert">
									<strong>{% trans 'Atención!' %}</strong>
									No se ha podido generar información de Google Analytics:
									{% if ga_data.error = 'refresh' %}
									{% trans 'The key has expired.' %}
									{% elif ga_data.error = 'authentication' %}
										No has vinculado una cuenta de Google Analytics. Puedes conectar un usuario <a href="{% url 'admin:analytics' %}"> aquí</a>.
									{% else %}
									Codigo de error: <strong>{{ga_data.error}}</strong>.{% endif %}
								</div>
							</div>
							{% endif %}
						{% endif %}

						{%endcomment%}


				      </div>
				    </div>
				  </div>
				</div>

				<!--Apps panel-->
				<div class="panel-group" id="apps">
				  <div class="panel panel-default">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#apps" href="#collapseTwo">
				          <span class="glyphicon glyphicon-th-large"></span>
				          Aplicaciones
				        </a>
				      </h4>
				    </div>
				    <div id="collapseTwo" class="panel-collapse collapse in">
				      <div class="panel-body">
				        <div class="app_link col-xs-5 col-sm-3 col-md-2">
							<a href="pagina_principal" class="section app_link_content">
								<span class="fa fa-star"></span>
								<b>Página principal</b>
							</a>
						</div>
						<div class="app_link col-xs-5 col-sm-3 col-md-2">
							<a href="contenido/categorias" class="section app_link_content">
								<span class="fa fa-inbox"></span>
								<b>Categorías</b>
							</a>
						</div>
						<div class="app_link col-xs-5 col-sm-3 col-md-2">
							<a href="contenido/articulos" class="section app_link_content">
								<span class="glyphicon glyphicon-leaf"></span>
								<b>Artículos</b>
							</a>
						</div>
						<div class="app_link col-xs-5 col-sm-3 col-md-2">
							<a href="fotogalerias" class="section app_link_content">
								<span class="fa fa-camera"></span>
								<b>Fotogalerías</b>
							</a>
						</div>
						<div class="app_link col-xs-5 col-sm-3 col-md-2">
							<a href="publicidad" class="section app_link_content">
								<span class="fa fa-bullhorn"></span>
								<b>Publicidad</b>
							</a>
						</div>
						<div class="app_link col-xs-5 col-sm-3 col-md-2">
							<a href="acceso" class="section app_link_content">
								<span class="fa fa-lock"></span>
								<b>Acesso</b>
							</a>
						</div>
						<div class="app_link col-xs-5 col-sm-3 col-md-2">
							<a href="encuestas" class="section app_link_content">
								<span class="fa fa-tasks"></span>
								<b>Encuestas</b>
							</a>
						</div>
						<div class="app_link col-xs-5 col-sm-3 col-md-2">
							<a href="suscripciones" class="section app_link_content">
								<span class="fa fa-send"></span>
								<b>Suscripciones</b>
							</a>
						</div>
						<div class="app_link col-xs-5 col-sm-3 col-md-2">
							<a href="plugins" class="section app_link_content">
								<span class="fa fa-sliders"></span>
								<b>Plugins</b>
							</a>
						</div>
				      </div>
				    </div>
				  </div>
				</div>
		  	</div>

		  	<div class="col-xs-12 col-sm-2 col-md-3">
				<div class="well well-open">
					<h3 class="filter-title">Acciones recientes</h3>
					<ul class="nav nav-list">

							{% if not admin_log %}
								<li>
									<p class="tip">No se han registrado acciones</p>
								</li>
							{% else %}
								{% for entry in admin_log %}
								<li>
									{% if not entry.is_deletion and entry.get_admin_url %}
									<a class="log-link" href="{{ entry.get_admin_url }}">
									{% endif %}
										<i class="glyphicon glyphicon-{% if entry.is_addition %}plus{% elif entry.is_change %}edit{% elif entry.is_deletion %}remove{% endif %}"></i>

										{{ entry.object_repr }}

									{% if not entry.is_deletion and entry.get_admin_url %}
									</a>
									{% endif %}

									{% if entry.content_type %}
									<span class="mini quiet">
										{% filter capfirst %}entry.content_type.name{% endfilter %}
									</span>
									{% else %}
									<span class="mini quiet">Unknown content</span>
									{% endif %}
									<span class="mini">{{entry.action_time|date:"d N, H:i"}}</span>
								</li>
								{% endfor %}
							{% endif %}
					</ul>
				</div>
		  	</div>
		</div>
	</div>
{% endblock %}
