<div class="row indicators text-right" style="line-height:30px; background:#363636; color:white;">
  <div class="col-xs-2" style="width:11%;"><b><span class="fa fa-database"></span> Indicadores</b></div>
  <div class="col-xs-10">
    <div id="bgBody" class="bgCarouselH">
      <script type="text/javascript">
        // <![CDATA[
        var bgHost = "http://www.applab.in/";
        var bgType = "CO-19288-1";
        var bgIndi = "1|2|3|4|5|6|7|8|9|10";
        (function(d){ var f = bgHost+ "apps/indicators/"+bgType+"/"+bgIndi+"/functions.js"; d.write(unescape("%3Cscript src='"+f+"' type='text/javascript'%3E%3C/script%3E")); })(document);
        // ]]>
      </script>
    </div>
  </div>
</div>
