{% block ad_block_1%}
	{% include "pos1/index.html" %}
{% endblock %}

{% block ad_block_2%}
	{% include "pos2/index.html" %}
{% endblock %}

{% block ad_block_3%}
	{% include "pos3/index.html" %}
{% endblock %}

{% block ad_block_4%}
	{% include "pos4/index.html" %}
{% endblock %}

{% block ad_block5%}
	{% include "pos5/index.html" %}
{% endblock %}

{% block ad_block_6%}
	{% include "pos6/index.html" %}
{% endblock %}

{% block ad_block_7%}
	{% include "pos7/index.html" %}
{% endblock %}

{% block ad_block_8%}
	{% include "pos8/index.html" %}
{% endblock %}
