{% extends "site_index.html" %}

{% block title %}{{article.title}} - Periódico El Diario{% endblock %}

{% block extrahead%}
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52f06b8440ed79f8"></script>
{% endblock %}

{% block indicators %}{% endblock %}

{% block main_content %}
	<div class="new_extended">
		<div class="new_head" style="padding:0;	">
			<a href="/categorias/{% if article.category %}{{article.category.slug}}{% else %}general{% endif %}">
				<span class="cat-label">{% if article.category %}{{article.category.slug}}{% else %} GENERAL {% endif %}</span>
			</a>
			<small>
				<span class="glyphicon glyphicon-calendar"></span> {{ article.creation_date|date:"d \d\e F \d\e\l Y" }}
			</small>
			<small>
				<span class="fa fa-user"></span> Redactado por: {{article.author.first_name}} {{article.author.last_name}}
			</small>
			<h2>{{article.title}}</h2>
		</div>

		<hr>

		<div class="row">
			<div class="col-xs-2" style="padding-right:0">
				<h5><b>Compartir artículo en </b></h5>
				<div class="addthis_sharing_toolbox"></div>
				<hr>
				<h5><b>Artículos relacionados:</b></h5>
				<div>
					<ul class="art-related">
						{% for relA in article.related_articles.all %}
						<li><a href="articulos/{{relA.slug}}">{{relA.title}}</a></li>
						{% empty %}
							{% for relA in article.related.all%}
							<li><a href="articulos/{{relA.slug}}">{{relA.title}}</a></li>
							{% empty %}
							No se encontraron artículos
							{% endfor %}
						{% endfor %}
					</ul>


				</div>
			</div>
			<div class="col-xs-10">
					{{article.abstract | safe}}
					{{article.content | safe}}
			</div>
		</div>

		<hr>



		<div id="fb-root"></div>
		<script>(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.0";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		<div class="fb-comments" data-href="" data-numposts="5" data-colorscheme="light"></div>

	</div>
	{% block other_news%}{%endblock%}
	{% block dept %}{% endblock %}
	{% block misc %}{% endblock %}
{% endblock %}

{% block right_col %}
	{{block.super}}
	{% block alt_news %}{% endblock %}
	{% block editorial %}{% endblock %}
	{% block twitter_plugin %}{% endblock %}
	{% block facebook_plugin %}{% endblock %}
	{% block weather_app %}{% endblock %}
{% endblock %}

{% block media %}{% endblock %}
