{% extends "site_index.html" %}

{% block indicators %}{% endblock %}

{% block main_content %}

		<div class="cat-tab">
			<h4><span>{{category.title}}</span></h4> {{category.article_set.all.count}} artículos
		</div>

		{% for article in articles %}
		<div class="row">
			<div class="col-xs-2 text-center">
				<h2>{{article.hits}} <small>vistas</small></h2>
				{{ article.creation_date|date:"d/M/Y" }}
			</div>
			<div class="col-xs-10 cat-art-abs">
					<h3 class="art-title"><a href="/articulos/{{article.slug}}">{{article.title}}</a></h3>
					{{article.abstract | safe}}
			</div>
		</div>
		<hr>
		{% empty %}
		<div class="text-center">
				<h4>No se encontraron artículos para esta categoría</h4>
		</div>
		{% endfor %}

	{% block other_news%}{%endblock%}
	{% block dept %}{% endblock %}
	{% block misc %}{% endblock %}
{% endblock %}

{% block right_col %}
	{{block.super}}
	{% block alt_news %}{% endblock %}
	{% block editorial %}{% endblock %}
	{% block twitter_plugin %}{% endblock %}
	{% block facebook_plugin %}{% endblock %}
	{% block weather_app %}{% endblock %}
{% endblock %}

{% block media %}{% endblock %}
