{% extends "site_index.html" %}

{% block title %}	Todas las categorías - Periódico El Diario {% endblock %}

{% block indicators %}{% endblock %}

{% block main_news %}

		<div class="cat-tab">
			<h4>
				<span>TODOS LAS CATEGORÍAS</span>
			</h4>
			{{categories.count}} Categorías
		</div>

		{% for category in categories %}
		<div class="row">
			<div class="col-xs-2 text-center">
				<h2>{{category.article_set.all.count}} <small>Artículos</small></h2>
				{{ category.creation_date|date:"d/M/Y" }}
			</div>
			<div class="col-xs-10 cat-art-abs">
					<h3 class="art-title"><a href="/categorias/{{category.slug}}">{{category.title}}</a></h3>
					{{category.description | safe}}
			</div>
		</div>
		<hr>
		{% empty %}
		<div class="text-center">
				<h4>No se encontraron artículos para esta categoría</h4>
		</div>
		{% endfor %}

	{% block columnists %}{% endblock %}
{% endblock %}

{% block right_col %}
	{{block.super}}
	{% block alt_news %}{% endblock %}
	{% block editorial %}{% endblock %}
	{% block twitter_plugin %}{% endblock %}
	{% block facebook_plugin %}{% endblock %}
	{% block weather_app %}{% endblock %}
{% endblock %}

{% block media %}{% endblock %}
