{% load static %}
{% load front_tags %}
{% load i18n %}
<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--><!--<![endif]-->

<html lang="{{ LANGUAGE_CODE|default:"es-co" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %} itemscope itemtype="http://schema.org/Article">

	<head>
		<meta name="google-site-verification" content="nY2VcjTvM87CaJMF1S-Jk-LLQZUTaJ0KM58I77lK8ow" />
		<meta charset="utf-8">
		<title>{% block title %}Periódico El Diario - Inicio{% endblock %}</title>

		{% block metadata %}
			{% include "top/meta.html"%}
		{% endblock %}

		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="Sitio web de El Diario">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="icon" type="image/png" href="{% static "images/favicon.png" %}">

		<link rel="stylesheet" href="{% static "css/bootstrap.css" %}" />
		<link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
		<link rel="stylesheet" href="{% static "css/main.css" %}">
		<link rel="stylesheet" href="{% static "css/print.css" %}" type="text/css" media="print" />

		<style>
			body, html{
				height: 100%;
				padding: 0;
				margin: 0;
				width: 100%;
				overflow-x: hidden;
				background: #ddd;
			}
			body{
				margin-top: 0px;
				height: 100%;
			}
		</style>

		<script src="{% static "js/jquery.js" %}"></script>
		<script src="{% static "js/bootstrap.min.js" %}"></script>
		<script src="{% static "js/moment.min.js" %}"></script>
		<script src="{% static "redactor/redactor.js" %}"></script>
		<script src="{% static "redactor/jquery-migrate.min.js" %}"></script>
		<script src="{% static "js/bootstrap-datetimepicker.min.js" %}"></script>
		<script src="{% static "js/jquery.confirm.min.js" %}"></script>

		{% block extrahead %}{% endblock %}
		{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-51061250-1', 'periodicoeldiario.com');
		  ga('send', 'pageview');

		</script>
	</head>

	<body>

		<div class="container-fluid text-justify" style="padding:0 0 30px 0;">
			<div class="col-xs-1" style="padding-right:20px">
				{% block ads_2 %}
				<div class="row ad ad2">
					{% if "2"|get_position_ad %}
						<div class="row-fluid text-center">
							<span class="fa fa-angle-down"></span> 
								Publicidad 
							<span class="fa fa-angle-down"></span>
						</div>
						<div class="row-fluid ad_content">
							{% with "2"|get_position_ad as ad %}
								{% if ad.ad_type == "2" %}
									<img alt="imagen no disponible" src="/media/{{ad.ad_file}}">
								{% elif ad.ad_type == "3" %}
									{{ad.embed_code|safe}}
								{% else%}

								{% endif %}
							{% endwith %}
						</div>
					{% endif %}
				</div>
				{% endblock %}
			</div>

			<div class="col-xs-10">

				{% block header %}
					{% include "top/header.html"%}
				{% endblock %}

				{% block topmenu %}
					{% include "top/site_topmenu.html" %}
				{% endblock %}


				<div class="container-fluid" style="padding: 0 8px;">

					{% block indicators %}
						{% include "top/indicators.html" %}
					{% endblock %}

					{% block ads_4 %}
					<div class="row ad ad_4">
						{% if "4"|get_position_ad %}
							<div class="row-fluid text-center">
								<span class="fa fa-angle-down"></span> 
									Publicidad 
								<span class="fa fa-angle-down"></span>
							</div>
							<div class="row-fluid ad_content">
								{% with "4"|get_position_ad as ad %}
									{% if ad.ad_type == "2" %}
										<img alt="imagen no disponible" src="/media/{{ad.ad_file}}">
									{% elif ad.ad_type == "3" %}
										{{ad.embed_code|safe}}
									{% else%}

									{% endif %}
								{% endwith %}
							</div>
						{% endif %}
					</div>
					{% endblock %}

					{% block full_news %}
						{% if full_width_article %}
							{% include "news/full_news.html"%}
						{% endif %}
					{% endblock %}

					{% block main %}
						<div class="row" style="background:white; padding:10px 10px 0 0;">

							<!--Main Content-->
							<div class="col-xs-8">
								{% block ads_5 %}
								<div class="row-fluid ad ad_5">
									{% if "5"|get_position_ad %}
										<div class="row-fluid text-center">
											<span class="fa fa-angle-down"></span> 
												Publicidad 
											<span class="fa fa-angle-down"></span>
										</div>
										<div class="row-fluid ad_content">
											{% with "5"|get_position_ad as ad %}
												{% if ad.ad_type == "2" %}
													<img alt="imagen no disponible" src="/media/{{ad.ad_file}}">
												{% elif ad.ad_type == "3" %}
													{{ad.embed_code|safe}}
												{% else%}

												{% endif %}
											{% endwith %}
										</div>
									{% endif %}
								</div>
								{% endblock %}

								{% block main_news %}
									{% if main_art %}
										{% include "news/main_news.html"%}
									{% endif %}
								{% endblock %}

								{% block secondary_news %}
									{% if secondary %}
										{% include "news/secondary_news.html" %}
									{%endif%}
								{% endblock %}

								{% block ads_6 %}
								<div class="row-fluid ad ad_6">
									{% if "6"|get_position_ad %}
										<div class="row-fluid text-center">
											<span class="fa fa-angle-down"></span> 
												Publicidad 
											<span class="fa fa-angle-down"></span>
										</div>
										<div class="row-fluid ad_content">
											{% with "6"|get_position_ad as ad %}
												{% if ad.ad_type == "2" %}
													<img alt="imagen no disponible" src="/media/{{ad.ad_file}}">
												{% elif ad.ad_type == "3" %}
													{{ad.embed_code|safe}}
												{% else%}

												{% endif %}
											{% endwith %}
										</div>
									{% endif %}
								</div>
								{% endblock %}

								{% block misc %}
									{% if misc_news %}
										{% include "news/misc_news.html" %}
									{% endif %}
								{% endblock %}

								{% block columnists %}
									{% include "news/opinion.html" %}
								{% endblock %}
							</div>
							<!--End Main Content-->

							<!--Right Col-->
							<div class="col-xs-4" id="right_col">
								{% block right_col %}
									{% block social_links %}
										{% include "right/social.html" %}
									{% endblock %}
									<br>

									<div class="row alt-news text-justify">
										{% block alt_news %}
											{% if "R"|get_position_article %}
												{% with "R"|get_position_article as article %}
													<div class="panel panel-default">
														<div class="panel-body">
															<div class="container-fluid">
																<h4>
																	<b><a href="/articulos/{{article.slug}}">{{article.title}}</a></b>
																</h4>
																{{ article.abstract|safe }}
															</div>
														</div>
													</div>
												{% endwith %}
											{% endif %}
										{% endblock %}
									</div>

									{% block ads_7 %}
										{% if "7"|get_position_ad %}
											<div class="row ad ad_7">
												<div class="row-fluid text-center">
													<span class="fa fa-angle-down"></span> 
														Publicidad 
													<span class="fa fa-angle-down"></span>
												</div>
												<div class="row-fluid ad_content">
													{% with "7"|get_position_ad as ad %}
														{% if ad.ad_type == "2" %}
															<img alt="imagen no disponible" src="/media/{{ad.ad_file}}">
														{% elif ad.ad_type == "3" %}
															{{ad.embed_code|safe}}
														{% else%}

														{% endif %}
													{% endwith %}
												</div>
											</div>
										{% endif %}
									{% endblock %}

									{% block ads_8 %}
										{% if "8"|get_position_ad %}
											<div class="row ad ad_8">
												<div class="row-fluid text-center">
													<span class="fa fa-angle-down"></span> 
														Publicidad 
													<span class="fa fa-angle-down"></span>
												</div>
												<div class="row-fluid ad_content">
													{% with "8"|get_position_ad as ad %}
														{% if ad.ad_type == "2" %}
															<img alt="imagen no disponible" src="/media/{{ad.ad_file}}">
														{% elif ad.ad_type == "3" %}
															{{ad.embed_code|safe}}
														{% else%}

														{% endif %}
													{% endwith %}
												</div>
											</div>
										{% endif %}
									{% endblock %}

									{% block printed_ed%}
										{% include "right/printed.html" %}
									{% endblock %}
									
									<!--
									<div class="row banner">Banner</div>
									-->

									{% block polls_app %}
										{% if poll %}
											{% include "right/polls.html"%}
										{% endif %}
									{% endblock %}
									
									<!--
									<div class="row">
										<div class="especials-tab">
											<span>INFORMES ESPECIALES</span>
										</div>

										<div class="row-fluid">
											<img alt="imagen no disponible" src="{% static "images/panoramapoliticoespe.jpg"%}" alt="Informes especiales" />
										</div>
									</div>
									-->

									<hr>

									{% block ads_9 %}
										{% if "9"|get_position_ad %}
											<div class="row ad ad_9">
												<div class="row-fluid text-center">
													<span class="fa fa-angle-down"></span> 
														Publicidad 
													<span class="fa fa-angle-down"></span>
												</div>
												<div class="row-fluid ad_content">
													{% with "9"|get_position_ad as ad %}
														{% if ad.ad_type == "2" %}
															<img alt="imagen no disponible" src="/media/{{ad.ad_file}}">
														{% elif ad.ad_type == "3" %}
															{{ad.embed_code|safe}}
														{% else%}

														{% endif %}
													{% endwith %}
												</div>
											</div>
										{% endif %}
									{% endblock %}

									{% block plugins %}
										{% include "right/plugins.html" %}
									{% endblock %}
									
									{% block right_ads %}
										{% if "10"|get_position_ad %}
											{% with "10"|get_position_ad as ads %}
												{% for ad in ads %}
													<div class="row ad ad_10">
														<div class="row-fluid text-center">
															<span class="fa fa-angle-down"></span> 
																Publicidad 
															<span class="fa fa-angle-down"></span>
														</div>
														<div class="row-fluid ad_content" style="max-height:100%;">
															{% if ad.ad_type == "2" %}
																<img alt="imagen no disponible" src="/media/{{ad.ad_file}}">
															{% elif ad.ad_type == "3" %}
																{{ad.embed_code|safe}}
															{% else%}

															{% endif %}
														</div>
													</div>
												{% endfor %}
											{% endwith %}
										{% endif %}
									{% endblock %}
								{% endblock %}
							</div>
							<!--End Left Col-->
						</div>
					{% endblock %}

					<div class="row" style="padding: 0;">
						{% block media %}
							{% include "media.html"%}
						{% endblock %}
						
						{% block fat_menu%}
							{% include "fat_menu.html"%}
						{% endblock %}
					</div>
				</div>
			</div>

			<div class="col-xs-1" style="padding-left:20px;">
				<div class="row ad ad3">
					{% if "3"|get_position_ad %}
						<div class="row text-center">
							<span class="fa fa-angle-down"></span> 
								Publicidad 
							<span class="fa fa-angle-down"></span>
						</div>
						{% with "3"|get_position_ad as ad %}
							{% if ad.ad_type == "2" %}
								<img alt="imagen no disponible" src="/media/{{ad.ad_file}}">
							{% elif ad.ad_type == "3" %}
								{{ad.embed_code|safe}}
							{% else%}

							{% endif %}
						{% endwith %}
					{% endif %}
				</div>
			</div>
		</div>

		<script type="text/javascript">
			$(document).ready(function(){
				$("#hide-ads").click(function(){
					$(".ad").slideUp();
				});

		    $('ul.nav li.dropdown').hover(
					function() {
		      	$(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(200);
		    	},
					function() {
		      	$(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(200);
		    	}
				);

				$(".fb-comments").attr("data-href", window.location.href);

				$(".submit_poll").click(function(){
					$.ajax({
					  type: "POST",
					  url: $("#poll_form").attr('action'),
					  data: $("#poll_form").serialize(),
					  success: function(response){
							$(".poll").html(response);
						},
					});
				});

				$(".get_results").click(function(event){
					event.preventDefault();

					url = $(this).attr("data-href");

					$.ajax({
						url: url,
						success: function(response){

							$(".poll").fadeOut(function(){
								$(this).html(response).fadeIn();
							});
						},
					});
				});
			});
		</script>

		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
		<script type="text/javascript" src="http://www.applab.in/Scripts/js/jquery.carouFredSel-5.5.0-packed.js"></script>

		<script type="text/javascript">
		$(function() {
			$("#bgUl").carouFredSel({
				auto: {
					items           : 5, // número de item a mostrar
					duration        : 8500, // velocidad
					easing          : "linear",
					pauseDuration   : 0,
					pauseOnHover    : "immediate"
				}
			});
		});
		</script>

		<script type="text/javascript" src="{% static "js/chosen.jquery.min.js"%}"></script>

		<script type="text/javascript">
			
			$(document).ready(function(){
				$("#towns").chosen({placeholder_text_multiple:'Escribe para buscar...',width: "100%"});
			});

			$("#towns").change(function(){
				document.location.href = $(this).val()
			});
		</script>
	</body>
</html>
