{% extends "base.html" %}
{% load static i18n %}
{% load url from future %}
{% block title %} {% if editing %} Editando la imagen: {{title}} {% else %} Nueva Imagen {% endif %} {% endblock %}

{% block extrastyle %}
		<link rel="stylesheet" href="{% static "css/chosen.min.css"%}"></link>
{% endblock %}

{% block extrahead %}
	<script src="{% static "js/chosen.jquery.min.js"%}"></script>
	<script src="{% static "js/jquery.form.js"%}"></script>
{% endblock %}

{% block breadcrumbs %}
	<ul class="breadcrumb">
		<li><a href="/backend"><i class="fa fa-home"></i> Inicio</a></li>
		<li><a href="/backend/fotogalerias"><i class="fa fa-camera"></i> Galerías</a></li>
		<li><a href="/backend/fotogalerias/imagenes"><i class="glyphicon glyphicon-picture"></i> Imágenes</a></li>
		<li>
			<i class="{% if editing %}fa fa-edit {% else %}fa fa-plus {% endif %}"></i>
			{% if editing %} Editar Imagen ({{title}}) {% else %} Nueva Imagen {% endif %}
		</li>
	</ul>
{% endblock %}

{% block mainbody %}
	<div id="content-main">
		<div class="row">
			<div class="col-xs-12 col-sm-10 col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
				    	<h2 class="panel-title">
				    		{% if editing %} <span class="fa fa-edit"></span> Editar Imagen ({{title}})
				    		{% else %} <span class="fa fa-plus"></span> Nueva Imagen  {% endif %}

				    	</h2>
				  	</div>
				  	<div class="panel-body">
				  		<div class="row">
				  			<div class="col-md-1 hidden-xs" style="width:4%;"></div>
				  			<div class="col-xs-12 col-md-6">
				  				<form role="form" action="." method="POST" enctype="multipart/form-data">
									{% csrf_token %}

									<input type="hidden" name="user_id" value="{{user}}" />

									{% for field in form %}

										<div class="form-group {% if field.errors %} has-error{% endif %}">
											{% if not form.this_is_the_login_form.errors %}
												{% if field.name != "images" %}
												<label class="control-label required" for="{{field.field.id}}">
													{{field.label}}:
												</label>
												{% endif %}
											{% endif %}

											{% if field.errors %}
												<span class="help-inline text-danger">
													{{field.errors}}
												</span>
											{% endif %}

											{% if field.name != "images" %}
											<div class="input-group">
											{% else %}
											<div class="input-group">
											{% endif %}
												<span class="input-group-addon">
													<span class="glyphicon glyphicon-asterisk"></span>
												</span>
												{{ field }}
											</div>
										</div>
									{% endfor %}

									<br><br>
									<div class="form-group" style="text-align:right;">
										<a href="{% if editing %}../../{% else %}../{% endif %}" class="btn btn-danger">
											Cancelar
										</a>
										<button type="submit" class="btn btn-success">
											{% if editing %} Guardar cambios
				    						{% else %} Agregar Imagen {% endif %}
				    					</button>
									</div>
								</form>
				  			</div>
								</div>
				  		</div>
				  	</div>
				</div>
			</div>
		</div>
	</div>

	{% include 'picmanager.html' %}

	<script>
        var message = '';
        var options = {
            url: '/backend/fotogalerias/upload/',
            error: function(response) {
            	alert("Error de subida "+response.result)
                message = '<span class="error">We\'re sorry, but something went wrong. Retry.</span>';
                $('.upload-message').html(message);
                $('fileInput').val('');
            },
            success: function(response) {
                $("#uploadForm input:not(input[type=hidden]), #uploadForm textarea").val('');
                $("#choose").html(response);
								$('#image_tabs a:first').tab('show');

								$("#id_images").html("");
								$("#choose .img-thumbnail").each(function(){
									alert($(this).attr("img_id"));
									$("#id_images").append('<option value="'+$(this).attr("img_id")+'" id="img_'+$(this).attr("img_id")+'">'+$(this).attr("img_title")+'</option>');
								});
								$(".empty-msg").detach();
            }
        };

        $("#send_form").click(function(event){
        	event.preventDefault();
        	$('#uploadForm').ajaxSubmit(options);
        });

        $("#choose").on("click",".img-thumbnail", function(){
					if($(this).hasClass("selected")){
							$(this).removeClass("selected");
					}else{
							$(this).addClass("selected");
					}

        	$("#img_"+$(this).attr('img_id')).attr('selected', true);
        });

				$('#confirm_images').click(function(){

					if($('#choose .selected').length>0){$(".empty-mess").hide();}

					$('#choose .selected').each(function(){
						if($(this).hasClass("video_thumb")){
							$("#current_images tbody").append(
								'<tr>\
									<td class="text-left">\
										<input type="checkbox" class="check" name="id" form="all_objects" value="'+$(this).attr('img_id')+'"/>\
									</td>\
									<td class="text-left">\
										<a href="#"><span class="fa fa-video-camera"></span> Ver video</a>\
									</td>\
									<td class="text-left">'+$(this).attr('img_title')+'</td>\
									<td class="text-center">'+$(this).attr('img_author')+'</td>\
									<td class="text-left">'+$(this).attr('img_date')+'</td>\
									<td class="text-left">'+$(this).attr('img_description')+'</td>\
								</tr>'
							);
						}else{
								$("#current_images tbody").append(
									'<tr>\
										<td class="text-left">\
											<input type="checkbox" class="check" name="id" form="all_objects" value="'+$(this).attr('img_id')+'"/>\
										</td>\
										<td class="text-left">\
											<a href="#"><img class="img-thumbnail" src="'+$(this).attr('src')+'"></a>\
										</td>\
										<td class="text-left">'+$(this).attr('img_title')+'</td>\
										<td class="text-center">'+$(this).attr('img_author')+'</td>\
										<td class="text-left">'+$(this).attr('img_date')+'</td>\
										<td class="text-left">'+$(this).attr('img_description')+'</td>\
									</tr>'
								);
						}

						$(this).detach();

						$(".bs-example-modal-lg").modal('hide')
					});
				});

        $(document).ready(function(){

					$("#id_images").hide();

        	$("#id_images option").each(function(){
        		$(this).attr('id', 'img_'+$(this).attr('value'));
        	});

        	$("#drop_img").click(function(){
        		$(".check:checked").each(function(){
        			$("#img_"+$(this).val()).attr('selected', false);
        			$(this).parent().parent().remove();
        		});
        	});

        	$("#current_images").delegate("tr td a", "click", function(){

        		//$('.image-prev-modal').modal('show');

						$.ajax({
							url: '/backend/fotogalerias/edit_image/'+$(this).attr('attr-id'),

							success: function(response){
								alert(response);

								$(".image-prev-modal").html(response);
								clear_fields();
								$(".image-prev-modal").modal('show');
							},
						});
        	});

        	$(".preview").click(function(){

        		$.ajax({
						  url: '/backend/fotogalerias/get_preview/',

						  data: $("#id_images").serialize(),

						  success: function(response){
								$(".carousel-full").html(response);
								$("#carousel-prev-modal").modal('show');
							},
						});
        	});

        });

				$("#id_article_related").chosen({placeholder_text_multiple:'Escribe para buscar...',width: "100%"});
    </script>

{% endblock %}
