<div class="modal fade image-prev-modal" tabindex="-1" role="dialog"
	 aria-labelledby="ImagePrev" aria-hidden="true">

	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="ImagePrev">
					Imagen: <span class="img_prev_title"></span>
				</h4>
			</div>
			<div class="modal-body text-center">
				<img src="" class="img-thumbnail">
				<div class="vid_prev">

				</div>
				<p style="padding:10px;"><b>Fotógrafo: </b><span class="author"></span></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>
