{% extends "base.html" %}
{% load url from future %}
{% block title %} Administrar Imágenes {% endblock %}

{% block breadcrumbs %}
	<ul class="breadcrumb">
		<li><a href="/backend"><i class="fa fa-home"></i> Inicio</a></li>
		<li><a href="/backend/fotogalerias/"><i class="fa fa-camera"></i> Galerías</a></li>
		<li class="active"><i class="glyphicon glyphicon-picture"></i> Imágenes</li>
	</ul>
{% endblock %}

{% block mainbody %}
	<div id="content-main">
		<div class="row">
			<div class="col-xs-12 col-sm-10 col-md-12">
				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h2 class="panel-title" style="display:inline-block; margin-right:5px">
				    	<span class="glyphicon glyphicon-picture"></span> Imágenes
				    </h2>
				    <div class="hidden-xs" style="display:inline-block;width:50%;"></div>
				    <div class="btn-group" style="display:inline-block;">
						<a href="nueva/" class="btn btn-success">
							<span class="fa fa-plus"></span> <span class="hidden-xs"> Nueva Imágen</span>
						</a>
						<a href="eliminar/" class="btn btn-danger delete disabled">
							<span class="glyphicon glyphicon-fire"></span> <span class="hidden-xs">Eliminar</span>
						</a>
					</div>
				  </div>
				  <div class="panel-body" style="padding:0">

				  	<form id="all_objects" method="POST">{% csrf_token %}</form>

				    <table class="table table-striped">
				      <thead>
				        <tr class="active">
				        	<th><input type="checkbox" id="toggle_all"/></th>
				        	<th class="text-center hidden-xs">ID</th>
				        	<th class="text-left">Título</th>
				        	<th class="text-center hidden-xs">Fotógrafo</th>
				        	<th class="text-center hidden-xs">Creación</th>
				        </tr>
				      </thead>
				      <tbody>
				      	{% for image in images%}
				        <tr>
				        	<td class="text-left;">
				        		<input type="checkbox" class="check" name="id" form="all_objects" value="{{image.id}}"/>
				        	</td>
				        	<td class="text-center hidden-xs">{{image.id}}</td>
				        	<td class="text-left"><a href="editar/{{image.id}}">{{image.image_title}}</a></td>
				        	<td class="text-center hidden-xs">{{image.author}}</td>
				        	<td class="text-center hidden-xs">{{image.capture_datetime|date:"d \d\e M \d\e\l Y"}}</td>
				        </tr>
				        {% empty %}
				        <tr>
				        	<td colspan="9" class="text-center">
				        		<div class="alert alert-info">No has agregado imágenes
				        			<br><br>
				        			<b>
				        				<a href="nueva/">
				        					<span class="fa fa-plus"></span> Agregar una Imagen
				        				</a>
				        			</b>
				        		</div>
				        	</td>
				        </tr>
				        {% endfor %}
				      </tbody>
				    </table>
				  </div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
	$(".delete").confirm({
		text: "Vas a eliminar una o más galerías, esta acción no se puede deshacer. ¿Aún deseas continuar?",
			title: "Procede con cuidado!",
			confirm: function(button) {
					$("#all_objects").attr("action", button.attr("href"));
			$("#all_objects").submit();
			},
			cancel: function(button) {
					return false;
			},
			confirmButton: "Lo entiendo, deseo continuar",
			cancelButton: "No",
			post: false
	});
	</script>
{% endblock %}
