<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" 
aria-labelledby="PicManager" aria-hidden="true">

	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="PicManager">
					Administrar imágenes de la galería ({% if editing %}{{title}}{% else %}Nueva Galería{%endif%})
				</h4>
			</div>

			<div class="modal-body">
				<ul class="nav nav-tabs" id="image_tabs">
					<li class="active"><a href="#choose" data-toggle="tab">Elegir imágenes</a></li>
					<li><a href="#upload" data-toggle="tab">Subir</a></li>
					<li><a href="#link" data-toggle="tab">Enlace</a></li>
					<li><a href="#video" data-toggle="tab">Video</a></li>
				</ul>

				<div class="tab-content">
					<div class="tab-pane fade in active" id="choose">
						<div class="container">
							<div class="col-md-8">
								<h3>Seleccionar imágenes existentes</h3>

								<div class="well pic_manager">
									{% for av_img in available_images %}
									<img class="img-thumbnail" img_id="{{av_img.id}}" img_title="{{av_img.image_title}}"
									img_author="{{av_img.author}}" img_description="{{av_img.description}}" 
									img_date="{{av_img.capture_datetime|date:"d \d\e M \d\e\l Y \a \l\a\s H:i"}}" 
									src="{{MEDIA_URL}}{{av_img.image}}"/>
									{% empty %}
									No has subido imágenes
									{% endfor %}
								</div>

							</div>
						</div>
					</div>

					<div class="tab-pane fade" id="upload">

						<div class="container">
							<h3>Subir una imagen</h3>
							<div class="col-md-8">

								<form role="form" id="uploadForm" enctype="multipart/form-data" action="{% url "photogallery.views.upload" %}" method="POST">
									{% csrf_token %}

									{% for field in image_form %}

									<div class="form-group {% if field.errors %} has-error{% endif %}">

										{% if not form.this_is_the_login_form.errors %}
										<label class="control-label required" for="{{field.field.id}}">
											{{field.label}}:
										</label>
										{% endif %}

										{% if field.errors %}
										<span class="help-inline text-danger">
											{{field.errors}}
										</span>
										{% endif %}

										<div class="input-group">
											<span class="input-group-addon">
												<span class="glyphicon glyphicon-asterisk"></span>
											</span>
											{{ field }}
										</div>
									</div>

									{% endfor %}

									<div class="form-group" style="text-align:right;">
										<a href="{% if editing %}../../{% else %}../{% endif %}" class="btn btn-danger">
											Cancelar
										</a>
										<button type="submit" id="send_form" class="btn btn-success">
											Subir Imagen
										</button>
									</div>	
								</form>
							</div>
						</div>
					</div>

					<div class="tab-pane fade" id="link">...</div>
					<div class="tab-pane fade" id="video">...</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				<button type="button" class="btn btn-primary">Guardar cambios</button>
			</div>
		</div>
	</div>
	
</div>